
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.btn-primary{
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
}

/* navbar style */
.navbar-section{
    display: flex;
    justify-content:space-between;
    gap: 530px;
    margin: 0px 150px;
    padding: 0px;
}
.nav-heading{
    color: #4E47FF;
    margin: 0px;
    font-size: 34px;
    font-weight: 900;
}